<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { title: "Recetas" }) %>
        <link rel="stylesheet" href="/css/form2.css">
</head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    <br>
    <h1> Listado de Recetas </h1>
    <br>
    <div>
        <div class="ingredient">
            <ul>
                <% listaRecetas.forEach(function(listaRecetas) { %>
                    <li>
                        <a href="/recetas/<%= listaRecetas.id %>">
                            <strong>
                                <%= listaRecetas.id %>
                            </strong>
                            Receta <%= listaRecetas.titulo %>, - <%= listaRecetas.descripcion %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </div>

    <footer class="footer-distributed">
        <%- include('partials/footer'); %>
    </footer>

</body>

</html>