<!doctype html>
<html lang="es">

<head>
    <%- include('./partials/head', { title: "Registrar Usuario nuevo" }) %>
        <link rel="stylesheet" href="/css/form2.css">
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="container-fluid">

        <!-- Cuerpo principal -->

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-8 mx-auto bg-light ">
                        <!--Aquí muestro los errores del lado del Js-Front -->

                        <!-- Aquí muestro los errores --->
                        <% if(typeof(errors) !='undefined' ){%>
                            <ul class="alert alert-danger">
                                <% errors.forEach(error=> { %>
                                    <li>
                                        <%= error.msg%>
                                    </li>
                                    <%});%>
                            </ul>
                            <%}%>
                                <!----Fin mostrar errores--------->
                                <div class="signup-form">
                                    <form action="/user/register" method="post" enctype="multipart/form-data"
                                        class="formulario" id="contact">
                                        <h3>Registro</h3>
                                        <h4>Introduzca sus datos</h4>
                                        <br>
                                        <div>
                                            <ul id="errores"> </ul>
                                        </div>
                                        <fieldset>
                                            <input placeholder="Nombre" type="text" name="nombre" tabindex="1"
                                                value="<%= typeof old != 'undefined' ? old.nombre : '' %>">
                                        </fieldset>
                                        <fieldset>
                                            <input placeholder="Apellido" type="text" name="apellido" tabindex="1"
                                                value="<%= typeof old != 'undefined' ? old.apellido : '' %>">
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <input type="email" tabindex="2" name="correo" placeholder="Email"
                                                value="<%= typeof old != 'undefined' ? old.email : '' %>">
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <input type="password" tabindex="3" name="password"
                                                placeholder="Contraseña">
                                        </fieldset>
                                        <fieldset>
                                            <input placeholder="Confirme Contraseña" type="password" name="re_password"
                                                tabindex="3">
                                        </fieldset>
                                        <fieldset>
                                            <input placeholder="Teléfono" type="number" name="telefono" tabindex="4">
                                        </fieldset>
                                        <fieldset>
                                            <input placeholder="Dirección" type="text" name="direccion" tabindex="1">
                                        </fieldset>
                                        <fieldset>
                                            <input placeholder="Ciudad" type="text" name="ciudad" tabindex="4">
                                        </fieldset>
                                        <fieldset>
                                            <div class="file-select" id="img">
                                                <input type="file" value="Adjuntar documento" name="img" id="img"
                                                    placeholder="Debes eligir tu avatar...">
                                        </fieldset>
                                        <input type="text" id="categoria" name="categoria" tabindex="5" value="true"
                                            hidden><br>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn btn-info">Registrarme</button>
                                        </div>
                                    </form>
                                    <div class="text-center my-3">Ya tengo una cuenta? <a href="login">Inicia
                                            sesión</a></div>
                                </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <footer class="footer-distributed">
        <%- include('./partials/footer') %>
    </footer>

    <script src="/js/registro.js"></script>
</body>

</html>